@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.go-up-icon{
    text-align: center;
    font-family: 'Comfortaa', cursive; 
    padding: 10px;
    background-color: #b8e5fa;
}
.icon {
    font-size: 60px;
    color: black; 
    cursor: pointer; 
}
