.box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
    background-color: white;
    cursor: pointer;
}
.box p{
    margin-left: -40px;
}
.box button{
    height: 30px;
}
.box img{
    border-radius: 50%;
}
.follow-button{
   border: none;
    width: 80px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
}
.box:hover {
    background-color: lightgray;
  }