
.userList {
    display: flex;
  
background-color:white;
  
}
  .tablees{
    width: 70px;
   
  }
  
  .table{
    margin-top: 1pc;
    margin-left: 1pc;
    margin-right: 4pc;
    height: auto;
    justify-content: space-between;
    
    
    
    
  }
  .delete-button{
    color: white;
    background-color: rgb(187, 59, 59);
    border-radius: 20px;
    width: 66px;
    height: 40px;
    cursor: pointer;
    margin-right: 8px;

   
   
  }
  .edit-button{
    color: white;
    background-color: rgb(31, 111, 65);
    border-radius: 20px;
    width: 66px;
    height: 40px;
    cursor: pointer;
    margin-right: 8px;
    
  }
  .id{
    width: 10px;
  }
  .firstname{
    width: 5pc;
  }
  .lastname{
    width: 5pc;
  }
  .username{
    width: 5pc;
  }
  .email{
    width: 5pc;
  }
  .role{
    width: 6px;
  }
  .manage{
    width: 5pc;
  }
  .button{
    width: 5px;
  }
  
  
  
  
  .btn-danger {
    
    margin-left: 10px;
    
  }
  
  /*.userListUser {
    display: flex;
    align-items: center;
  }
  
  .userListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .userListEdit{
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      background-color: #3bb077;
      color: white;
      cursor: pointer;
      margin-right: 20px;
  }
  
  .userListDelete{
      color: red;
      cursor: pointer;
  }/*