
.userList {
    display: flex;
  }
  .tablees{
    width: 70px;
  }
  
  .table{
    margin-top: 1pc;
    margin-left: 1pc;
    margin-right: 4pc;
    height: auto;
    justify-content: space-between;
    
    
    
  }
  .delete-button{
    color: rgb(183, 45, 45);
    width: 26px;
    height: 20px;
    cursor: pointer;
    margin-right: 8px;

   
   
  }
  .edit-button{
    color: rgb(15, 197, 163);
    width: 26px;
    height: 20px;
    cursor: pointer;
    
  }
  .id{
    width: 20px;
  }
  .firstname{
    width: 10pc;
  }
  .lastname{
    width: 10pc;
  }
  .username{
    width: 10pc;
  }
  .email{
    width: 15pc;
  }
  .role{
    width: 15px;
  }
  
  
  
  
  .btn-danger {
    
    margin-left: 10px;
    
  }
  
  /*.userListUser {
    display: flex;
    align-items: center;
  }
  
  .userListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .userListEdit{
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      background-color: #3bb077;
      color: white;
      cursor: pointer;
      margin-right: 20px;
  }
  
  .userListDelete{
      color: red;
      cursor: pointer;
  }/*