#sidebar-wrapper{
   display: flex;
   justify-content: center;
   text-align: center;
   font-size: larger;
   padding: 1%;
   height: 100vh;
   width: 15%;
}
#page-content-wrapper{
    width: 80%;
}

@media only screen and (max-width: 600px) {
    #wrapper {
      flex-direction: column-reverse;
    }
  
    #sidebar-wrapper {
        width: 100%;
      display: flex;
      border-top: none;
      border-bottom: 1px solid #dee2e6;
      flex-direction:row;
    }
  }
