
.items{
    padding: 5%;
    text-align: left;
}
.content{
    font-size : 17px;
 
}
.change-pw{
    color: blue;
    font-size: smaller;
    text-decoration: underline;
    cursor: pointer;
}
.nav{
    display: flex;
    justify-content: center;
    
}