
.suggested-card{
    padding: 10px;
    background-color: white;
}
.list-item{
    /* border: 1px solid lightblue; */
    background-color: white;
}
.list-item:hover{
    border-bottom: 0.5px solid lightblue;
}
