.report-content {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .buttons{
        display: flex;
        justify-content:space-between;
        margin-top: 10px;
      margin: 0 auto;
      width: 30%;
      align-items: center;
  }
  .reports-msg{
    margin: 0 auto;
    width: 50%;
  }
.buttoni{
  display: flex;
  justify-content: center;
}
.primary-text{
  font-size: 1.5rem;
  text-decoration: underline;
}
.secondary-text{
  font-size: 0.9rem;
  text-decoration: underline;
}
.contenti-rep{
  border: 0.5px solid #ccc;
  width: 100%;
  border-left: none;
  border-right: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty{
  text-align: center;
  font-size: 2rem;
  
}