.report-content {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .buttons{

        display: flex;
        justify-content:flex-start;
        margin-top: 10px;

  }
  .reports-btn{
    width: 100px;
    height: 60px;
    margin-left: 2px;
  }