.p-3{
    border-bottom: 1px solid #ccc;
   
}
.header-img{
   background:url('../../assets/logo.png');
   background-position: center;
   background-size: 120%;
   background-repeat: no-repeat;
   border-radius: 50%;
    height: 50px;
    width: 50px;
}
.gap-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#items{   
    margin: 0 auto;
}
#search-forma{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}
