
.header-img{
   background-image:url('https://image-placeholder.com/images/actual-size/57x57.png');
   background-position: center;
   background-size: 100%;
   background-repeat: no-repeat;
}
.gap-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#items{   
    margin: 0 auto;
}
#search-forma{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}
