.image-banner {
  background-image: url("https://image-placeholder.com/images/actual-size/1920x1080.png");
  height: 20vh;
}

.menu {
  border: 1px solid #ccc;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.navi {
  margin-top: 5px;
  padding: 20px 60px;
  position: relative;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
.profile-pic {
  border: 1px solid white;
  height: 10vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  /* position: absolute;
  right: 80%;
  top: 15%; */
}
.user-followers {
  border: solid;
  margin-top: 10px;
  height: 90px;
}
.nav-items {
  display: flex;
  justify-content: space-around;
}
.col-md-4 {
  background-color: #f8f9fa;
}
#content {
  margin-top: 5px;
}

.lista-fllw-user {
  text-align: center;
  width: 100px;
}
.left {
  border: solid 1px #ccc;
  height: 100%;
  margin-top: 5%;
  text-align: start;
}
.right {
  border: solid 1px #ccc;
  height: 100%;
  margin-top: 5%;
  text-align: end;
  padding: 5px;
  text-align: center;
}
.display-6{
  font-size: 30px;
}
.leftSectionNav {
  border: solid 1px #ccc;
  margin-top: 5%;
  display: grid;
  gap: 2rem;
  justify-items: start;
  padding: 20px 30px;
}
.leftSectionNav div {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
  align-items: center;
  justify-items: start;
  padding: 4px;
  width: 100%;
}
.iconsClass {
  width: 30px;
  height: 30px;
}
.right-container {
  display: grid;
  gap: 5px;
}
.right-container div {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 4rem;
  background-color: rgb(167, 167, 167);
}
.friend-img {
  width: 45px;
  height: 45px;
  outline: 3px solid black;
  border-radius: 50%;
}

.profile-posts {
  margin-top: 5%;
}
@media screen and (max-width: 1065px) {
  .profile-pic {
    height: 105px;
  }
  .navi {
    padding: 10px 30px;
  }
}

.db-social .jumbotron {
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom center;
  color: #fff!important;
  height: 300px;
  position: relative;
  padding: 0;
}
#contenti{
  padding: 20px;
}

.container-fluid {
  padding: 30px 30px;
}

.db-social .head-profile {
  margin-top: -120px;
  border-radius: 4px;
  position: relative;
}

.widget {
  background: #fff;
  border-radius: 0;
  border: none;
  margin-bottom: 30px;
}
.has-shadow {
  box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}
.db-social .head-profile:before {
  content: "";
  background: rgba(255,255,255,.6);
  height: 20px;
  width: 90%;
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4px 4px 0 0;
}
.db-social .head-profile:after {
  content: "";
  background: rgba(255,255,255,.3);
  height: 20px;
  width: 80%;
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4px 4px 0 0;
}
.db-social .widget-body {
  padding: 1rem 1.4rem;
}
.widget-body {
  padding: 1.4rem;
}
.pb-0, .py-0 {
  padding-bottom: 0!important;
}
.db-social .image-default img {
  width: 120px;
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0 0 0 6px rgba(255,255,255,1);
  z-index: 10;
}
.db-social .infos {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
  line-height: 1.8rem;
}
.db-social h2 {
  color: #2c304d;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: .2rem;
}
.db-social .location {
  color: #aea9c3;
  font-size: 1rem;
}
.db-social .follow .btn {
  padding: 10px 30px;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-shadow, .btn-shadow a {
  color: #5d5386;
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 1px 15px 1px rgba(52,40,104,.15);
}
.db-social .head-profile .actions {
  display: inline-block;
  vertical-align: middle;
  margin-left: .5rem;
}
.actions {
  z-index: 999;
  display: block;
}
.actions.dark .dropdown-toggle {
  color: #2c304d;
}
.actions .dropdown-toggle {
  color: #98a8b4;
  background: none;
  border: none;
  padding: 0;
  font-size: 1.7rem;
}
.actions .dropdown-menu {
  border: none;
  min-width: auto;
  font-size: 1rem;
  border-radius: 4px;
  padding: 1.4rem 1.8rem;
  text-align: left;
  box-shadow: 1px 1px 30px rgba(0,0,0,.15);
}

.actions .dropdown-menu .dropdown-item {
  padding: .5rem 0;
}
.actions .dropdown-menu a {
  color: #2c304d;
  font-weight: 500;
}

.db-social .head-profile li:first-child {
  padding-left: 0;
}
.db-social .head-profile li {
  display: inline-block;
  text-align: center;
  padding: 0 1rem;
}
.db-social .head-profile li .counter {
  color: #2c304d;
  font-size: 1.4rem;
  font-weight: 600;
}
.db-social .head-profile li .heading {

  font-size: 1rem;
}
#white{
  background-color: white;
}
.lista{
  margin-top: 50px;
}
#follow-butoni{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}