#create-post{
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 10px;
   
}

.butoni-post{
    margin: 0 auto;
    margin-top: 5px;
    height: 50px;
    width: 150px;
    margin-left: 5px;
}
.image-input{
    margin-top: 5px;
}
.add-image{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 5px;
}
.image-icon{
    font-size: 45px;
}
.image-p{
    margin-top: 12px;
}