.nav{
    display: flex;
    justify-content: center;
}
.text, .text:hover{
    color: black;
    font-size: large;
}
.wrapper{
    /* border: 1px solid lightblue;
    border-top: none; */
    padding: 5%;
    /* background-color: white;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px; */
    height: 300px;
    overflow: auto;
}
.wrapper::-webkit-scrollbar {
    width: 5px; 
  }

  .wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .wrapper::-webkit-scrollbar-thumb {
    background-color: #b3aeae;
    border-radius: 5px; 
  }

  .wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  }