.nav{
    display: flex;
    justify-content: center;
}
.text, .text:hover{
    color: black;
    font-size: large;
}
.wrapper{
    /* border: 1px solid lightblue;
    border-top: none; */
    padding: 5%;
    /* background-color: white;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px; */
}